

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Docker
docker/mariadb-data/
docker/*.log

# NodeJS
/node_modules/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
